#page-wrapper  {
    margin-top: -180px;
}

.adminOptionWrapper li.list-group-item
{
   border: 1px dotted #ddd;
   border-width: 1px 0 0 0;
}

.adminOptionWrapper li.list-group-item:nth-child(even)
{
   background-color: #efefef;
}

.navbar-default.sidebar
{
   margin-top: -160px;
}

.prevPageLink
{
   display: block;
   margin-top: 1em;
}

/* WYSIWYG Icons */

.mce-i-injectPerson:before
{
   font-family:'FontAwesome';
   content:"\f007";
}

.mce-i-injectFAQ:before
{
   font-family:'FontAwesome';
   content:"\f059";
}

.mce-i-injectForm:before
{
   font-family:'FontAwesome';
   content:"\f0ae";
}

.mce-i-injectData:before
{
   font-family:'FontAwesome';
   content:"\f013";
}

.mce-i-injectCourse:before
{
   font-family:'FontAwesome';
   content:"\f19d";
}

/*** Fix WYSIWYG Fullscreen/Nav conflict ***/
.navbar-static-top
{
   z-index: 99;
}

/*** FontAwesome Icon Styles ***/
.adminPage .fa.fa-ban { color: #a00; }
.adminPage .fa.fa-star { color: #ffb800; }