body
{
   font-size: 100%;
}

h1
{
   font-size: 150%;
   color: #a00;
   font-weight: normal;
   margin-top: 2em;
}

h2
{
   font-size: 130%;
   color: #a00;
   font-weight: normal;
   margin-top: 2em;
}

h3
{
   font-size: 115%;
   color: #036;
   font-weight: normal;
   margin-top: 1.5em;
   margin-bottom: .25em;
}

h4
{
   margin: 1.33em 0;
   font-weight: bold;
}

img.leftImg
{
   max-height:  150px;
   display:block;
   float: left;
   margin-right: 1em;
}

img.rightImg
{
   max-height:  150px;
   display:block;
   float: right;
   margin-left: 1em;
}