   <div id="wrapper">
      
      <!-- Navigation -->
      <div class="navbar-default sidebar" role='navigation'>
         <div class="sidebar-nav navbar-collapse">
            <!-- Start Admin Menu -->
            <!-- _MB_: adminMenu -->
            <!-- End Admin Menu -->
         </div>
      </div>

      <div id="page-wrapper">
         <!-- _MB_: mainContent -->
      </div>
   </div>