
body
{
   /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
   /* background-image: url(../img/background.png); */
   /* background-image: url(../img/bannerBg.png), url(../img/background.png); */
   background-repeat: repeat;
   background-repeat: repeat-x, repeat;
}
/**********************************************************************/

/*** Start Page Header Styles ***/

#adminBanner
{
   /*background-color:#2a5c27;*/
   height: 28px;
   width: 95%;
   padding-left: 10px;
   position: fixed;
   top: 0px;
   z-index: 995;
}

#adminBanner a
{
   color: white;

/*   min-width: 270px;*/
}

.nav .open>a {background: #0085a1 !important;}

.dropdown-menu {
    background-color: #0085a1;
    border: none;
}

.dropdown-menu > li > a:hover  {
    color: white;
    background-color: #0085a1;
    background-image: none;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #003366;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0085a1;
  }
}

/**********************************************************************/

/*** Start Front Page Styles ***/

.front #upcomingEvents
{
   font-size: 85%;
   color: #036;
   padding-left: 2em;
}


.front #upcomingEvents article h3:before
{
   font-family: FontAwesome;
   content: '\f073 ';
   margin-left: -1em;
}

.front #upcomingEvents article h3 a
{
   color: #036;
   font-weight: bold;
}

#upcomingEvents a.moreLink
{
   /*padding-left: 1em;*/
   display: block;
   margin: 1em;
   text-decoration: underline;
}

.front #upcomingEvents article div.location,
.front #upcomingEvents article div.eventTime time strong,
.front #upcomingEvents article div.eventType strong
{
   display: none;
}

.front #upcomingEvents article time span
{
   display: inline;
}

.front #upcomingEvents article div.presenter strong
{
   font-weight: normal;
}

.front #upcomingEvents article div.presenter .presenterAffiliation
{
   display: none;
}

/*** End Front Page Styles ***/

/**********************************************************************/

/*** Start Page Body Styles ***/
div#wrapper {
   padding-top: 200px;
   background-color: #fff;
}


#pageWrapper
{
   font-size: 12px;z-index: 1;
   
}

#pageWrapper article
{
   padding-left: 1em;
   padding-right: 1em;
}

.container
{
   
}

h1
{
   line-height: 120%;
   color: #a00;
   font-weight: normal;
}

h2
{
   color: #a00;
   font-weight: normal;
   margin-top:2em;
}

h3
{
   color: #036;
   margin-top:1.5em;
   margin-bottom:.25em;
}

h3+p
{
   margin-top:0;
}

/**
nav.paginationLinks
{
   padding-top: 1em;
   padding-bottom: 1em;
}

nav#mainNav a:hover
{
   text-decoration: underline;
}

**/

/*** End Page Body Styles ***/

/**********************************************************************/

/*** Start Page Footer Styles ***/

footer
{
   text-align: center;
   color: #666;
   border-top: 1px solid #036;
   /*font-size:130%;*/
   /*line-height: 160%;*/
   max-width:86%;
   margin: 0 auto;
   padding: 1em 0;
   clear:both;
}

footer span
{
   display:block;
}

/*** End Page Footer Styles ***/

/**********************************************************************/

/*** Start People Profiles ***/

.peopleProfile
{
   padding-top: 1em;
   padding-bottom: 1em;
   border-bottom: 1px solid #666;
   font-size: 90%;
}

.peopleProfile a
{
   text-decoration: underline;
}

.media:first-child
{
   margin-top: 15px;
}

.profileNameTitle h2
{
   font-size: 75%;
   margin:0;
   font-weight: bold;
}

.peopleProfile .contactInfo
{
   margin-top: 1em;
}

.letterLinks
{
   text-transform: uppercase;
   font-weight: bold;
}

.peopleProfile img
{
   max-height: 100px;
}

/*** End People Profiles ***/

/**********************************************************************/

/*** Start Events Styles ***/

h2.eventHeading /*** Date information ***/
{
   padding-top:1em;
   border-top:1px solid #ccc;
}

.eventDesc h3
{
   margin-bottom:0;
}

.eventDesc h3 .cancelled
{
   color: #a00;
}

.eventDesc .eventDescription,
.eventDesc .eventComments
{
   padding-top: 1em;
}

.eventType
{
   font-style: italic;
}

.eventInfo:last-child
{
   margin-bottom: 1em;
}

article.eventInfo.cancelled time,
#upcomingEvents article.cancelled time
{
   text-decoration: line-through;
}

.embededMap
{
   display: block;
   margin: 1em auto;
   text-align: center;
}

.sidebar {
    width: 220px;
}

 #page-wrapper {
     margin: 0 0 0 220px;
 }
 
 /******************************************/
 
 /*** Featured Products ***/
 
 .FeaturedProductTitle {
   
   font-size: 180%;
   color: #a00;
   font-weight: bold;
 }
