article table.peopleList th.name,
article table.peopleList td.name,
article table.peopleList th.position,
article table.peopleList td.position,
article table.peopleList th.email,
article table.peopleList td.email
{
   text-align: left;
   padding-left:1em;
}

.pageBody ul.peopleList 
{
   margin:2% 0;
   padding:0;
}

.pageBody ul.peopleList li
{
   list-style: none;
   margin: 2% 1%;
   padding: 1%;
   clear:left;
   border-bottom:1px solid #666;
   line-height:110%;
}

.pageBody ul.peopleList li:nth-last-of-type(1)
{
   border-bottom:0;
}

.pageBody ul.peopleList li:after
{
   content: '';
   display:block;
   clear:left;
}


.pageBody ul.peopleList li img
{
   max-width: 60px;
   max-height: 80px;
   float:left;
   margin:5px 5px 5px 0;
}

.pageBody ul.peopleList li h2
{
   font-size:100%;
   margin:0;
   color:#036;
   margin-left: 65px;
}

.pageBody ul.peopleList li span
{
   display:block;
   font-size: 85%;
   margin-left: 65px;
}

/* Start individual profile pages */
article.profile
{
   margin-bottom:2em;
}

article.profile h1
{
   margin-bottom:0;
   text-align:center;
}

article.profile img
{
   box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

article.profile h2.position
{
   margin:0;
   font-size: 85%;
   font-weight: normal;
   color: #888;
   line-height: 120%;
   text-align:center;
}

article.profile .profileHeading
{
   margin-bottom: 1em;
}

article.profile .personInfo
{
   text-align: center;
}
/* End individual profile pages */

@media screen and (min-width:790px)
{
   /*
   .pageBody ul.peopleList li
   {
      background-color: #FFF;
      -webkit-box-shadow: 0 0 6px #444;
         -moz-box-shadow: 0 0 6px #444;
          -ms-box-shadow: 0 0 6px #444;
           -o-box-shadow: 0 0 6px #444;
              box-shadow: 0 0 6px #444;
      float: left;
      list-style: none;
      margin: 0 15px 25px 0;
      min-height: 375px;
      padding: 5px 5px 10px 5px;
      width: 195px;
      clear:none;
      overflow-x: hidden;
      
      position:relative;
   }

   .pageBody ul.peopleList li:after
   {
      content: '';
      display:inline;
      clear:none;
   }
   
   .pageBody ul.peopleList li img
   {
      max-width: 98%;
      max-height: 100%;
      margin:5px auto;
      float:none;
   }
   
   .pageBody ul.peopleList li h2,
   .pageBody ul.peopleList li span
   {
      margin: 0 1em;
   }
   
   .pageBody ul.peopleList li h2
   {
      margin-bottom: 1em;
   }
   
   .pageBody ul.peopleList li span.mail
   {
      font-size:80%;
   }
   
   .pageBody ul.peopleList li span.homepage
   {
      position:absolute;
      display:block;
      font-style:italic;
      bottom:1em;
      left:.5em;      
   }
   */
/*   
   .pageBody ul.peopleList li div.nameAndTitle
   {
      width:68%;
      float:left;
   }
   
   .pageBody ul.peopleList li div.contactInfo
   {
      margin-left:68%;
      width:30%;
      text-align:right;
   }
   
   .pageBody ul.peopleList li div.contactInfo span
   {
      margin-left:0;
   }*/
   
   
   /* Start individual profile pages */
   article.profile .personInfo
   {
      text-align: left;
      margin-left: 180px;
   }
   
   article.profile h1,
   article.profile h2.position
   {
      text-align: left;
   }
   
   article.profile .personInfo span.itemBlock .label
   {
      display: inline;
      font-weight: bold;
   }

   article.profile .personBio,
   article.profile .personResearch
   {
      clear:left;
      margin-left: 180px;
   }
   
   
   /* End individual profile pages */
}