
         <footer class="clearfix">
            <span class='breaker'><!-- _MB_: organizationName --></span>
            <span class='bull'><!-- _MB_: organizationAddress1 --></span>
            <span class='bull'><!-- _MB_: organizationAddress2 --></span>
            <span class='breaker'><!-- _MB_: organizationCity -->, <!-- _MB_: organizationState --> <!-- _MB_: organizationZIP --> <!-- _MB_: organizationCountry --></span>
            <span class='bull tel'>Voice: <!-- _MB_: organizationPhone --></span>
            <span class='breaker'><a href='/about/contact'>Contact Us</a></span>
            <span class='bull'>&copy; Copyright <!-- _MB_: currentYear --> Isle of Games</span>
            <span>All rights reserved</span>
         </footer>
      </div> <!-- end container -->
   </div>
   
   <!-- _MB_: appendBody -->
   
</body>
</html>
