dl.faqAnswerList dt
{
   margin-top: 1em;
   padding: 1em 15px .5em;
}

dl.faqAnswerList dd
{
   padding: .5em 15px;
   margin-bottom: 1em;
}

dl.faqAnswerList dt:target,
dl.faqAnswerList dt:target+dd
{
   background-color: rgba(255, 252, 155, 0.5)
}