nav#loggedInNav
{
   margin-top: 5px;
   height:18px;
   color:white;
}

nav#loggedInNav a
{
   color:white;
   text-decoration:none;
   font-weight:bold;
}

nav#loggedInNav a:hover
{
   text-decoration: underline;
}

nav#loggedInNav #adminDashHome
{
   position: absolute;
   float:left;
   color:white;
   top: -6px;
   margin-left: 130px;
}


nav#loggedInNav a#switchUsersLink
{
   border-left:1px solid #fff;
   padding-left: 1em;
   margin-left: 1em;
}

nav#loggedInNav span.moreMenu
{
   display:block;
   float:left;
}

nav#loggedInNav a.editThisPageLink
{
   margin-left:.5em;
   padding-left:.5em;
   border-left:1px solid #fff;
}