#formProcessingLayer
{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 9999;

   background-color: rgba(218, 216, 227, 0.85);
   background-image: url('/common/img/loading_black.gif');
   background-repeat: no-repeat;
   background-position: 50% 50%;
   
   display:none;
}

#formProcessingLayer.active
{
   display: block;
}