.hidden {
	 color: transparent;
	 display: none;
}

.mana {
    display: inline-block;
    background-image:url('http://evocalypse.com/mtg/pics/mana.png');
    background-repeat:no-repeat;
    color: transparent;
    width: 15px;
    height: 15px;
}

.mana-2b { background-position: -0px -0px }
.mana-br { background-position: -15px -0px }
.mana-r { background-position: -30px -0px }
.mana-gw { background-position: -45px -0px }
.mana-2r { background-position: -60px -0px }
.mana-2w { background-position: -75px -0px }
.mana-rb { background-position: -90px -0px }
.mana-rg { background-position: -0px -15px }
.mana-wb { background-position: -15px -15px }
.mana-6 { background-position: -30px -15px }
.mana-gr { background-position: -45px -15px }
.mana-bu { background-position: -60px -15px }
.mana-s { background-position: -75px -15px }
.mana-2 { background-position: -90px -15px }
.mana-8 { background-position: -0px -30px }
.mana-wu { background-position: -15px -30px }
.mana-ru { background-position: -30px -30px }
.mana-cp { background-position: -45px -30px }
.mana-uw { background-position: -60px -30px }
.mana-3 { background-position: -75px -30px }
.mana-gb { background-position: -90px -30px }
.mana-2g { background-position: -0px -45px }
.mana-5 { background-position: -15px -45px }
.mana-16 { background-position: -30px -45px }
.mana-bp { background-position: -45px -45px }
.mana-y { background-position: -60px -45px }
.mana-17 { background-position: -75px -45px }
.mana-11 { background-position: -90px -45px }
.mana-2u { background-position: -0px -60px }
.mana-ug { background-position: -15px -60px }
.mana-wg { background-position: -30px -60px }
.mana-b { background-position: -45px -60px }
.mana-up { background-position: -60px -60px }
.mana-gu { background-position: -75px -60px }
.mana-ub { background-position: -90px -60px }
.mana-u { background-position: -0px -75px }
.mana-rp { background-position: -15px -75px }
.mana-19 { background-position: -30px -75px }
.mana-13 { background-position: -45px -75px }
.mana-g { background-position: -60px -75px }
.mana-12 { background-position: -75px -75px }
.mana-wr { background-position: -90px -75px }
.mana-w { background-position: -0px -90px }
.mana-gp { background-position: -15px -90px }
.mana-bw { background-position: -30px -90px }
.mana-bg { background-position: -45px -90px }
.mana-ur { background-position: -60px -90px }
.mana-7 { background-position: -75px -90px }
.mana-x { background-position: -90px -90px }
.mana-rw { background-position: -0px -105px }
.mana-9 { background-position: -15px -105px }
.mana-10 { background-position: -30px -105px }
.mana-20 { background-position: -45px -105px }
.mana-14 { background-position: -60px -105px }
.mana-0 { background-position: -75px -105px }
.mana-wp { background-position: -90px -105px }
.mana-18 { background-position: -0px -120px }
.mana-1 { background-position: -15px -120px }
.mana-15 { background-position: -30px -120px }
.mana-4 { background-position: -45px -120px }

@font-face
{
	font-family: "Magic Symbols 2013";
	src: url('MagicSymbols2013.ttf');
}


.card-symbol
{
	font: 18pt/30px "Magic Symbols 2013";
}

.card-symbol .simple, .card-symbol .composite, .card-symbol .million, .card-symbol .hundred, .card-symbol .half
{
	color: #ccc2c0;
}

.card-symbol, .card-symbol .simple.inverted
{
	color: #130d0f;
}

.card-symbol, .card-symbol * *
{
	color: #231f20;
}

.card-symbol .white
{
	color: #fffcd6;
}

.card-symbol .white + *, .card-symbol .black + *
{
	color: #000;
}

.card-symbol .white.dark
{
	color: #eae2b1;
}

.card-symbol .white.dark + *
{
	color: #201d0e;
}

.card-symbol .blue
{
	color: #aae0fa;
}

.card-symbol .blue + *
{
	color: #061822;
}

.card-symbol .blue.dark
{
	color: #8ebbd0;
}

.card-symbol .blue.dark + *
{
	color: #061a25;
}

.card-symbol .black
{
	color: #a19390;
}

.card-symbol .black.dark
{
	color: #9a8c89;
}

.card-symbol .black.dark + *
{
	color: #020001;
}

.card-symbol .red
{
	color: #f9a990;
}

.card-symbol .red + *
{
	color: #200;
}

.card-symbol .red.dark
{
	color: #de8066;
}

.card-symbol .green
{
	color: #9bd3ae;
}

.card-symbol .green + *
{
	color: #00170a;
}

.card-symbol .green.dark
{
	color: #81af92;
}

.card-symbol .purple
{
	color: #be9bd3;
}

.card-symbol .purple + *
{
	color: #130022;
}

.card-symbol .purple.dark
{
	color: #a088ae;
}

.card-symbol .outline, .card-symbol .simple.inverted + span
{
	color: #fff;
}
