
<section class="pageBody front <!-- _MB_: pageClass -->">

   <div class='row' id='frontSlideshow'>
      <!-- _MB_: frontSlides -->
   </div>

   <div class='row'>
      <section id='headlines' class='col-sm-8'>
         <!-- _MB_: frontHeadlines -->
      </section>

      <section id='upcomingEvents' class='col-sm-4'>
         <!-- _MB_: frontEvents -->
      </section>
   </div>
</section>
