body
{
   font-family: 'Trebuchet MS', 'Helvetica', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', 'Arial', sans-serif;
   background-image: url(../img/background.png);
   background-image: url(../img/bannerBg.png), url(../img/background.png);
   background-repeat: repeat;
   background-repeat: repeat-x, repeat;
}

/**********************************************************************/

/*** Start Page Header Styles ***/

#adminBanner
{
   background-color:#036;
   height: 28px;
   padding-left: 10px;
}

#adminBanner a
{
   display:inline-block;
   text-indent: -9999px;
   background: url('../img/ua_line_logo_white.png') no-repeat 0px 0px;
   height: 22px;
   min-width: 270px;
}

#mainBanner
{
   margin-top: 23px;
}

#mainBanner h1
{
   margin-top: 0;
}

#mainBanner a#pageLogo
{
   display:block;
   text-indent: -9999px;
   background: url(../img/logo.svg) no-repeat 0px 0px;
   height: 78px;
   width: 226px;
   max-height:100%;
   margin:0 10px 0 60px;
   position:relative;
   padding-left:100px;
}

#mainBanner a#pageLogo:before
{
   content: '';
   display:block;
   width:63px;
   height:63px;
   background: url(../img/uaBlock.png) no-repeat 0px 0px;
   position:absolute;
   left:-63px;
   top:10px;
}

/*** End Page Header Styles ***/

/**********************************************************************/

/*** Start Front Page Styles ***/

.front #upcomingEvents
{
   font-size: 85%;
   color: #036;
   padding-left: 2em;
}


.front #upcomingEvents article h3:before
{
   content: '+ ';
   margin-left: -1em;
}

.front #upcomingEvents article h3 a
{
   color: #036;
   font-weight: bold;
}

#upcomingEvents a.moreLink
{
   /*padding-left: 1em;*/
   display: block;
   margin: 1em;
   text-decoration: underline;
}

.front #upcomingEvents article div.location,
.front #upcomingEvents article div.eventTime time strong,
.front #upcomingEvents article div.eventType strong
{
   display: none;
}

.front #upcomingEvents article time span
{
   display: inline;
}

.front #upcomingEvents article div.presenter strong
{
   font-weight: normal;
}

.front #upcomingEvents article div.presenter .presenterAffiliation
{
   display: none;
}

/*** End Front Page Styles ***/

/**********************************************************************/

/*** Start Page Body Styles ***/
#pageWrapper
{
   font-size: 15px;
}

#pageWrapper article
{
   padding-left: 1em;
   padding-right: 1em;
}

.container
{
   background-color: #fff;
}

h1
{
   font-size: 160%;
   line-height: 120%;
   color: #a00;
   font-weight: normal;
}

h2
{
   font-size: 130%;
   color: #a00;
   font-weight: normal;
   margin-top:2em;
}

h3
{
   font-size: 115%;
   color: #036;
   margin-top:1.5em;
   margin-bottom:.25em;
}

h3+p
{
   margin-top:0;
}

nav.paginationLinks
{
   padding-top: 1em;
   padding-bottom: 1em;
}

nav#mainNav a:hover
{
   text-decoration: underline;
}

/*** End Page Body Styles ***/

/**********************************************************************/

/*** Start Page Footer Styles ***/

footer
{
   text-align: center;
   color: #666;
   border-top: 1px solid #036;
   /*font-size:130%;*/
   /*line-height: 160%;*/
   max-width:86%;
   margin: 0 auto;
   padding: 1em 0;
   clear:both;
}

footer span
{
   display:block;
}

/*** End Page Footer Styles ***/

/**********************************************************************/

/*** Start People Profiles ***/

.peopleProfile
{
   padding-top: 1em;
   padding-bottom: 1em;
   border-bottom: 1px solid #666;
   font-size: 90%;
}

.peopleProfile a
{
   text-decoration: underline;
}

.media:first-child
{
   margin-top: 15px;
}

.profileNameTitle h2
{
   font-size: 75%;
   margin:0;
   font-weight: bold;
}

.peopleProfile .contactInfo
{
   margin-top: 1em;
}

.letterLinks
{
   text-transform: uppercase;
   font-weight: bold;
}

.peopleProfile img
{
   max-height: 100px;
}

/*** End People Profiles ***/

/**********************************************************************/

/*** Start Events Styles ***/

h2.eventHeading /*** Date information ***/
{
   padding-top:1em;
   border-top:1px solid #ccc;
}

.eventDesc h3
{
   margin-bottom:0;
}

.eventDesc h3 .cancelled
{
   color: #a00;
}

.eventDesc .eventDescription,
.eventDesc .eventComments
{
   padding-top: 1em;
}

.eventType
{
   font-style: italic;
}

.eventInfo:last-child
{
   margin-bottom: 1em;
}

article.eventInfo.cancelled time,
#upcomingEvents article.cancelled time
{
   text-decoration: line-through;
}

/*** Start "logged in" menu ***/
#loggedIn
{
   position:absolute;
   top:0;
   left:0;
   right:0;
   background-color: transparent;
   text-align: right;
   color: white;
   
   pointer-events: none;
   
}

#loggedIn ul
{
   display: inline-block;
   margin-left: 1em;
}

#loggedIn ul li
{
   margin:0;
}

#loggedIn ul li a
{
   pointer-events: auto;
   margin:0;
   padding-left: 1em;
   padding-right: 1em;
   border-left: 1px solid #fff;
   color: white;
}

/*** Start Undergrad Scholarship and Award Pages ***/

ul.ugradAwardList li.list-group-item
{
   padding-top: 2em;
   padding-bottom: 2em;
   border: 0;
   border-bottom: 2px solid #ddd;
}

ul.ugradAwardList li.list-group-item .list-group-item-heading
{
   color: #036;
}

.embededMap
{
   display: block;
   margin: 1em auto;
   text-align: center;
}