.fc-header
{
   display:none;
}

.fc-content
{
   clear:none;
}

.fc-title,
.fc-event-title
{
   overflow-y: auto;
   max-height: 100%;
   word-wrap: break-word;
}

.fc-title span,
.fc-event-title span
{
   display:block;
   border-bottom: 2px dotted rgba(255,255,255,.25);
}

.fc-title span:last-of-type,
.fc-event-title span:last-of-type
{
   border-bottom: 0;
}

.fc-time,
.fc-widget-header
{
   background-color: #ddd;
}

.fc-content .fc-event-time,
.fc-content .fc-time
{
   display: none;
}

.fc-time-grid-container
{
   height: auto !important;
}

div.fc
{
   margin-bottom: 1em;
}

.printableTutoring
{
   margin: 0 auto;
}

table.printableTutoring th
{
   white-space: nowrap;
   vertical-align: top;
}

table.printableTutoring td span
{
   display: block;
}