
         <footer class="clearfix">

         <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="<!-- _MB_: facebookLink -->" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="<!-- _MB_: twitterLink -->"  target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#mailchimpSignUpModal">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            
            <!-- Modal -->
            <style>
            div.modal, div.modal-dialog, div.modal-content   {
                    
            }
             div.modal-body {
                height: 500px;
                max-height: 500px;
            }
            </style>
            <div class="modal fade" style="display:none;" id="mailchimpSignUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><br />
                  </div>

            <div class="modal-body">
                    <iframe src="<!-- _MB_: mailchimpLink -->" id="info" class="iframe" name="info" seamless="" height="100%" width="100%"></iframe>
                  </div>

                </div>
              </div>
            </div> <!-- /#myModal -->
            
            <span class='breaker'><!-- _MB_: organizationName --></span>
            <span class='bull'><!-- _MB_: organizationAddress1 --></span>
            <span class='bull'><!-- _MB_: organizationAddress2 --></span>
            <span class='breaker'><!-- _MB_: organizationCity -->, <!-- _MB_: organizationState --> <!-- _MB_: organizationZIP --> <!-- _MB_: organizationCountry --></span>
            <span class='bull tel'>Voice: <!-- _MB_: organizationPhone --></span>
            <span class='breaker'><a href='/contact'>Contact Us</a></span>
            <span class='bull'>&copy; Copyright <!-- _MB_: currentYear --> Isle of Games</span>
            <span>All rights reserved</span>
         </footer>
      </div> <!-- end container -->
   </div>
   
   <!-- _MB_: appendBody -->

   <script type="text/javascript" src="/themes/<!-- _MB_: themeName -->/js/header.js"></script>
</body>
</html>
