
<section class="pageBody front <!-- _MB_: pageClass -->">

   <div class='row'>
      <section id='headlines' class='col-sm-8'>
         <!-- _MB_: mtgHeadlines -->
      </section>

      <section id='upcomingEvents' class='col-sm-4'>
         <!-- _MB_: mtgEvents -->
      </section>
       
   </div>
</section>
       <!-- _MB_: mainContent -->