
<section class="pageBody front <!-- _MB_: pageClass -->">

    <div class='row'>
        <section id='mainColumn' class='col-md-8'>
            <div class='row'>
                <section id='headlines'>
                   <!-- _MB_: frontHeadlines -->
                </section>
            </div> 
            <div class='row'>    
                <section id='featuredGames'>
                   <!-- _MB_: featuredGames -->
                </section>
            </div>
        </section>

        <section id='upcomingEvents' class='col-md-4'>
           <!-- _MB_: frontEvents -->
        </section>
   </div>

</section>
<hr> 
<div><!-- _MB_: _GOOGLE_MAPS_IFRAME_ --></div>
