.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.mjs-nestedSortable-error
{
   background: #fbe3e4;
   border-color: transparent;
}

ol#editFAQ {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

ol#editFAQ, ol#editFAQ ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol#editFAQ {
	margin: 0;
}

ol#editFAQ>li>span
{
   font-size: 130%;
   color: #a00;
   display: block;
   margin-left: 2em;
   margin-bottom: 1em;
}

ol#editFAQ li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

ol#editFAQ li>div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
}

ol#editFAQ li>div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

ol#editFAQ li>div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

ol#editFAQ li>div i.fa-pencil-square-o
{
   color:#0a0;
   padding-right: 1em;
	cursor:pointer;
}

ol#editFAQ li>div i.fa-pencil-square
{
   color:#09C309;
   padding-right: 1em;
	cursor:pointer;
}

ol#editFAQ li textarea,
ol#editFAQ li input
{
   display: inline-block;
   width: 90%;
   max-width: 90%;
   min-width: 400px;
   margin-left:30px;
   margin-bottom:1em;
}

div.mce-tinymce.mce-container.mce-panel
{
   max-width: 90%;
   margin:0 auto;
}

ol#editFAQ li li>div { background-color:#eee; }

ol#editFAQ li li>div input
{
	border:1px solid #333;
	padding:2px;
}

ol#editFAQ li.categoryHeading>div
{
   font-weight:bold;
   background-color:#ccc;
}

ol#editFAQ .ui-sortable>li>div
{
   font-weight:bold;
   background-color:#ccc !important;
}

ol#editFAQ .ui-sortable>li>div>div.faqEditFields>div.mce-tinymce,
ol#editFAQ .ui-sortable>li>div>div.faqEditFields>div.form-group>div>div.mce-tinymce
{
   display: none;
}

ol#editFAQ span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

ol#editFAQ span.questionHeading
{
   overflow:hidden;
   display:inline-block;
   max-width: 75%;
   white-space: nowrap;
   text-overflow: ellipsis;
   cursor: pointer;
}

ol#editFAQ div.submitDiv
{
   text-align:center;
   padding:1em;
   border:0;
}


ol#editFAQ div.submitDiv input
{
   width: auto;
   max-width: none;
   min-width: 0;
   margin:1em;
}

.addNewFAQ
{
   float:right;
   padding:1em 0;
   cursor: pointer;
}

.addNewFAQ:before
{
   padding-right: .5em;
   color: #32AC27;
}

.mce-path > .mce-path-item, .mce-path > .mce-divider {display: none !important;}

.faqEditFields div.col-sm-10.col-sm-offset-2
{
   width:99%;
   margin-left:0;
}