body
{
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   background-image: url(../img/background.png);
   background-image: url(../img/bannerBg.png), url(../img/background.png);
   background-repeat: repeat;
   background-repeat: repeat-x, repeat;
}

/**********************************************************************/

/*** Start Page Header Styles ***/

#adminBanner
{
   background-color:#2a5c27;
   height: 28px;
   width: 100%;
   padding-left: 10px;
   position: fixed;
   top: 0px;
   z-index: 100;
}

#adminBanner a
{
   display:inline-block;
   text-indent: -9999px;
   background: url('../img/line_logo.png') no-repeat 0px 4px;
   height: 22px;
   min-width: 270px;
}

#mainBanner
{
   margin-top: 28px;
}

#mainBanner h1
{
   margin-top: 0;
}

#mainBanner a#pageLogo
{
   display:block;
   text-indent: -9999px;
   background: url(../img/logo.png) no-repeat 0px 0px;
   height: 78px;
   width: 226px;
   max-height:100%;
   margin:0 10px 0 60px;
   position:relative;
   padding-left:100px;
}

#mainBanner a#pageLogo:before
{
   content: '';
   display:block;
   width:63px;
   height:63px;
   background: url(../img/IsleLogo62px.png) no-repeat 0px 0px;
   position:absolute;
   left:-63px;
   top:10px;
}

#mainNav {
   z-index: 50;
}

/*** End Page Header Styles ***/

/**********************************************************************/

/*** Start Front Page Styles ***/

.front #upcomingEvents
{
   font-size: 85%;
   color: #036;
   padding-left: 2em;
}


.front #upcomingEvents article h3:before
{
   content: '+ ';
   margin-left: -1em;
}

.front #upcomingEvents article h3 a
{
   color: #036;
   font-weight: bold;
}

#upcomingEvents a.moreLink
{
   /*padding-left: 1em;*/
   display: block;
   margin: 1em;
   text-decoration: underline;
}

.front #upcomingEvents article div.location,
.front #upcomingEvents article div.eventTime time strong,
.front #upcomingEvents article div.eventType strong
{
   display: none;
}

.front #upcomingEvents article time span
{
   display: inline;
}

.front #upcomingEvents article div.presenter strong
{
   font-weight: normal;
}

.front #upcomingEvents article div.presenter .presenterAffiliation
{
   display: none;
}

/*** End Front Page Styles ***/

/**********************************************************************/

/*** Start Page Body Styles ***/
div#wrapper {
   padding-top: 28px;
}


#pageWrapper
{
   font-size: 15px;z-index: 100;
}

#pageWrapper article
{
   padding-left: 1em;
   padding-right: 1em;
}

.container
{
   background-color: #fff;
}

h1
{
   font-size: 160%;
   line-height: 120%;
   color: #a00;
   font-weight: normal;
}

h2
{
   font-size: 130%;
   color: #a00;
   font-weight: normal;
   margin-top:2em;
}

h3
{
   font-size: 115%;
   color: #036;
   margin-top:1.5em;
   margin-bottom:.25em;
}

h3+p
{
   margin-top:0;
}

nav.paginationLinks
{
   padding-top: 1em;
   padding-bottom: 1em;
}

nav#mainNav a:hover
{
   text-decoration: underline;
}

/*** End Page Body Styles ***/

/**********************************************************************/

/*** Start Page Footer Styles ***/

footer
{
   text-align: center;
   color: #666;
   border-top: 1px solid #036;
   /*font-size:130%;*/
   /*line-height: 160%;*/
   max-width:86%;
   margin: 0 auto;
   padding: 1em 0;
   clear:both;
}

footer span
{
   display:block;
}

/*** End Page Footer Styles ***/

/**********************************************************************/

/*** Start People Profiles ***/

.peopleProfile
{
   padding-top: 1em;
   padding-bottom: 1em;
   border-bottom: 1px solid #666;
   font-size: 90%;
}

.peopleProfile a
{
   text-decoration: underline;
}

.media:first-child
{
   margin-top: 15px;
}

.profileNameTitle h2
{
   font-size: 75%;
   margin:0;
   font-weight: bold;
}

.peopleProfile .contactInfo
{
   margin-top: 1em;
}

.letterLinks
{
   text-transform: uppercase;
   font-weight: bold;
}

.peopleProfile img
{
   max-height: 100px;
}

/*** End People Profiles ***/

/**********************************************************************/

/*** Start Events Styles ***/

h2.eventHeading /*** Date information ***/
{
   padding-top:1em;
   border-top:1px solid #ccc;
}

.eventDesc h3
{
   margin-bottom:0;
}

.eventDesc h3 .cancelled
{
   color: #a00;
}

.eventDesc .eventDescription,
.eventDesc .eventComments
{
   padding-top: 1em;
}

.eventType
{
   font-style: italic;
}

.eventInfo:last-child
{
   margin-bottom: 1em;
}

article.eventInfo.cancelled time,
#upcomingEvents article.cancelled time
{
   text-decoration: line-through;
}

/*** Start "logged in" menu ***/
#loggedIn
{
   position:fixed;
   z-index: 100;
   top:0;
   left:0;
   right:0;
   background-color: transparent;
   text-align: right;
   color: white;
   
   pointer-events: none;
   
}

#loggedIn ul
{
   display: inline-block;
   margin-left: 1em;
}

#loggedIn ul li
{
   margin:0;
}

#loggedIn ul li a
{
   pointer-events: auto;
   margin:0;
   padding-left: 1em;
   padding-right: 1em;
   border-left: 1px solid #fff;
   color: white;
}

/*** Start Undergrad Scholarship and Award Pages ***/

ul.ugradAwardList li.list-group-item
{
   padding-top: 2em;
   padding-bottom: 2em;
   border: 0;
   border-bottom: 2px solid #ddd;
}

ul.ugradAwardList li.list-group-item .list-group-item-heading
{
   color: #036;
}

.embededMap
{
   display: block;
   margin: 1em auto;
   text-align: center;
}

.price_input {
    height:33px;
}


.group_select, .lang_select, .cond_select {
    height:33px;
}

.stock, .stock_input {
   width: 60px !important;
   height: 33px;
}

.Quantity_cell {
    width: 75px;
}

.Group_cell, .Language_cell, .Condition_cell {
   width: 80px;
}

.Edit_cell {
   width: 100px;
}

.MarketPrice_cell {
   width: 150px;
}

.Inventory_cell {
   width: 150px;
}

.ManaCost_cell {
   width: 100px;
}

.Rarity_cell {
   width: 90px;
}

.Name_cell {
   width: 200px;
}

.Set_cell {
   width: 100px;
}

.addButton {
   float: right;
   width: 60px;
   height: 33px;
}

.delButton {
   width: 60px;
   height: 33px;
}

.modButton {
   width: 60px;
   height: 33px;
}

.marketprice {
   float: right;
   font: bold 20px "Times New Roman", Georgia, Serif;
}

.price_input {
   font: bold 20px "Times New Roman", Georgia, Serif;
}

.facebook-small {
   background:
       url('data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA')
       no-repeat
       center;
}

.releaseDate {
   display: inline-block;
   margin-left: 50px;
}